.container {
  padding: 50px 10px;
  max-width: 900px;
}

.page-title {
  text-align: center;
}

.products-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px
}

.card-img-top {
  flex-basis: 250px;
  overflow: hidden;
}

.box-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  transition: .2s;
}


.zoom {
  cursor: zoom-out;
  transform: scale(2);
}

.card-text span {
  display: block;
  text-align: center;
}